body {
	max-width: 1024px;
  min-height: calc(100vh - 8px);
  margin: auto;
  display: grid;
	grid-template-rows: 128px 112px 96px 1fr 1fr 1fr 1fr 96px;
  border: black solid 4px;
  font-family: 'Montserrat', sans-serif;
  /* overflow: hidden; */
}

.row-border {
  border: black solid 4px;
}

.top-border {
  border-top: black solid 4px;
}

.left-border {
  border-left: black solid 4px;
}

.left-border-thick {
  border-left: black solid 8px;
}

.right-border {
  border-right: black solid 4px;
}

.right-border-thick {
  border-right: black solid 8px;
}

.bottom-border {
  border-bottom: black solid 4px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 32px 32px 32px;
}


#header-text {
  max-height: 240px;
  font-weight: 600;
  font-size: 48px;
}

header {
  background-image: url(./assets/logo_8_1024x240_Color-01.png);
  background-size: 1024px;
  background-repeat: no-repeat;
}

#statement-row {
  max-height: 128px;
}

#statement-text {
  font-weight: 600;
  font-size: 32px;

}

.row {
	display: grid;
	grid-template: subgrid;
}

.title {
  color: black;
  font-weight: 600;
  font-size: 24px;
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-row {
}
#about-text {
  grid-column: 2/9;
	grid-row: 1;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
}

#about-title {
	grid-column: 1/2;
  grid-row: 1;
  background-color: #EEB4B3;
}

#career-row {
}

#career-text {
	grid-column: 1/8;
	grid-row: 1;
}

#career-title {
	grid-column: 8/9;
	grid-row: 1;
  background-color: #78C8BD;

}


#client-row {
}

#client-text {
	grid-column: 2/9;
	grid-row: 1;
  display: grid;
  grid-template-columns: 32px repeat(9, 86px) 32px;
  grid-template-rows: 33px repeat(3,1fr) 33px;
  /* padding-left: 33px;
  padding-right: 33px;
  padding-top: 32px;
  padding-bottom: 32px; */
  justify-items: center;
  align-items: center;
}

#bp {
  max-height: 80px;
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
}
#emerson {
  grid-column: 2/ span 2;
  grid-row: 2/ span 2;
  max-width: 80px;
}
#harley {
  max-width: 80px;
  grid-column: 3;
  grid-row: 1;
}
#lyndex {
  max-width: 96px;
  grid-column: 4;
  grid-row: 2;
}
#marriott {
  max-width: 112px;
  grid-column: 5;
  grid-row: 1;
}
#nt {
  max-width: 112px;
  grid-column: 6;
  grid-row: 2;
}
#sal {
  max-width: 80px;
  grid-column: 7;
  grid-row: 1;
}
#surepayroll {
  max-width: 120px;
  grid-column: 8;
  grid-row: 2;
}
#whirlpool {
  max-width: 80px;
  grid-column: 9;
  grid-row: 1;
}

#client-title {
  grid-column: 1/2;
  grid-row: 1;
  background-color: #AFDDF7;
}

#skills-row {
}

#skills-text {
	grid-column: 1/8;
	grid-row: 1;
}

#skills-title {
	grid-column: 8/9;
	grid-row: 1;
  background-color: #FFFDBC;
}

footer {
  display: grid;
	grid-template-columns: 300px 1fr 1fr 1fr 1fr 300px;
  grid-template-rows: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;

}

footer a img  {
  width: 48px;
  height: 48px;
}

#instagram {
  grid-column: 2/3;
  grid-row: 1;
}

#linkedin {
  grid-column: 3/4;
  grid-row: 1;
}

#resume {
  grid-column: 4/5;
  grid-row: 1;
}

#email {
  grid-column: 5/6;
  grid-row: 1;
}
