body {
	max-width: 1024px;
  height: 100vh;
  margin: auto;
  display: grid;
	grid-template-columns: repeat (8,1fr);
	grid-template-rows: 128px 112px 96px 1fr 1fr 1fr 1fr 96px;
  border: black solid 4px;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.row-border {
  border: black solid 4px;
}

.top-border {
  border-top: black solid 4px;
}

.left-border {
  border-left: black solid 4px;
}

.right-border {
  border-right: black solid 4px;
}

.bottom-border {
  border-bottom: black solid 4px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 32px 32px 32px;
}


#header-text {
  max-height: 240px;
  font-weight: 600;
  font-size: 48px;
}

header {
  background-image: url(./assets/logo_8_1024x240_Color-01.png);
  background-size: 1024px;
  background-repeat: no-repeat;
}

#statement-row {
  max-height: 128px;
}

#statement-text {
  font-weight: 600;
  font-size: 32px;

}

.row {
	display: grid;
	grid-template: subgrid;
}

.title {
  color: black;
  font-weight: 500;
  font-size: 24px;
  min-width: 180px;
}

#about-row {
}
#about-text {
  grid-column: 2/9;
	grid-row: 1;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
}

#about-title {
	grid-column: 1/2;
  grid-row: 1;
  background-color: #EEB4B3;
}

#career-row {
}

#career-text {
	grid-column: 1/8;
	grid-row: 1;
}

#career-title {
	grid-column: 8/9;
	grid-row: 1;
  background-color: #78C8BD;
  color: black;
  font-weight: 500;
  font-size: 24px;
}


#client-row {
}

#client-text {
	grid-column: 2/9;
	grid-row: 1;
}

#client-title {
  grid-column: 1/2;
  grid-row: 1;
  background-color: #AFDDF7;
}

#skills-row {
}

#skills-text {
	grid-column: 1/8;
	grid-row: 1;
}

#skills-title {
	grid-column: 8/9;
	grid-row: 1;
  background-color: #FFFDBC;
}

footer {
  display: grid;
	grid-template-columns: 300px 1fr 1fr 1fr 1fr 300px;
  grid-template-rows: 1fr;
  padding-top: 24px;
  padding-bottom: 24px;
}

footer img {
  width: 48px;
  height: 48px;
}

#block {
  display: inline-block;
}

#instagram {
  grid-column: 2/3;
  grid-row: 1;
}

#linkedin {
  grid-column: 3/4;
  grid-row: 1;
}

#resume {
  grid-column: 4/5;
  grid-row: 1;
}

#email {
  grid-column: 5/6;
  grid-row: 1;
}
